# --- Loonix Junk Filter ---

# Browser Profiles (Data Pribadi)
.config/BraveSoftware/
.config/google-chrome/
.config/zshs/.zshrc

# Editor Profiles & Junk (Berat)
.config/Code\ -\ OSS/
.config/Code/
.config/Visual\ Studio\ Code/
.vscode/extensions/
.config/Code/CachedData/
.config/Code/Logs/
.config/Code/Backups/

# System Junk
.config/pulse/
.config/pavucontrol.ini
.config/dconf/
.config/session/
.config/Trash/

# Apps Folder (Mentahan .pkg.tar.zst lo biar gak masuk git)
.config/apps/

# Ignore file installer di folder apps
.config/apps/*.pkg.tar.zst

# Extension/File Patterns
*cache*
*Cache*
*.log
*.tmp
*.zst
